@font-face {
  font-family: 'maxwell';
  src: url('fonts/MAXWELL_LIGHT.eot'); /* IE 5-8 */
  src: local('☺'),             /* sneakily trick IE */
        url('fonts/MAXWELL_LIGHT.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
        url('fonts/MAXWELL_LIGHT.ttf') format('truetype'), /* Opera, Safari */
        url('fonts/MAXWELL_LIGHT.svg#font') format('svg'); /* iOS */
}

body {
  margin: 0px;
  background-color: #d9b18c;
}

#homepage {
  max-width: 100%;
  min-width: 50%;
}

#mountain {
  max-width: 100%;
  min-width: 50%;
}

.image-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: white;
  font-size: 4vw;
  font-family: "maxwell";
  font-weight: lighter;
  border-bottom: 1px solid white;
}

.menuBar {
  text-align: center;
}

.barElement {
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  border-bottom: 1px solid black;
}

.barText {
  font-size: 4vw;
  font-family: "maxwell";
  font-weight: lighter;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.page-heading {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.page-heading-box {
  display: inline-block;
  border-bottom: 1px solid black;
}

.page {
  width: 100%;
  margin-top: 5%;
}

#propic {
  border-radius: 20px;
  border: 2px solid white;
  max-width: 23%;
  margin-left: 10%;
  display: inline-block;
}

.page-container {
  /*margin-top: 2%;*/
  float: right;
  margin-left: 3%;
  margin-right: 10%;
  width: 50%;
  display: inline-block;
}

.profile-text {
  margin-top: 3%;
  margin-bottom: 5%;
  font-family: "maxwell";
  font-weight: lighter;
  font-size: 2.5vw;
}

#links {
  text-align: center;
}

#linkedin {
  display: inline-block;
  max-width: 8%;
  margin-right: 5%
}

#github {
  display: inline-block;
  max-width: 8.8%;
}

#facebook {
  display: inline-block;;
  max-width: 8.5%;
  margin-left: 5%;
}

a:link {
  color: transparent;
}

a:visited {
  color: transparent;
}

.book {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.book-description {
  float: right;
  margin-left: 3%;
  margin-right: 20%;
  width: 30%;
  display: inline-block;
  font-family: "maxwell";
  font-weight: lighter;
}

.book-title {
  font-size: 3vw;
}

.book-author {
  font-size: 2.5vw;
  margin-bottom: 5%;
}

.book-text {
  font-size: 1.8vw;
}

#half-broke-horses {
  margin-left: 20%;
  display: inline-block;
  width: 18%;
}

#east-of-eden {
  margin-left: 20%;
  display: inline-block;
  width: 18%;
}

#infinite-jest {
  margin-left: 20%;
  display: inline-block;
  width: 18%;
}

#jane-eyre {
  margin-left: 20%;
  display: inline-block;
  width: 18%;
}

#pride-and-prejudice {
  margin-left: 20%;
  display: inline-block;
  width: 18%;
}

#sand-county-almanac {
  margin-left: 20%;
  display: inline-block;
  width: 18%;
}

.image-parent {
  max-width: 30%;
  margin-left: 8%;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}

.hover {
  margin-top: 1%;
  font-family: "maxwell";
  font-weight: lighter;
  font-size: 2vw;
}

#map {
  position: relative;
  top: 0;
  lef: 0;
}

.dot {
  position: absolute;
  width: 55px;
  height: 55px;
  opacity: 0;
  cursor: pointer;
}

.dot-name {
  position: absolute;
  font-family: "maxwell";
  font-size: 20pt;
}

#num1 {
  top: 0;
  left: 160px;
}

#name1 {
  top: 10px;
  left: 100px;
}

#num2 {
  top: 385px;
  left: 118px;
}

#name2 {
  top: 395px;
  left: 178px;
}

#num3 {
  top: 610px;
  left: 202px;
}

#name3 {
  top: 600px;
  left: 30px;
}

#num4 {
  top: 839px;
  left: 96px;
}

#name4 {
  top: 860px;
  left: 20px;
}

#num5 {
  top: 960px;
  left: 300px;
}

#name5 {
  top: 970px;
  left: 180px;
}

#num6 {
  top: 1240px;
  left: 98px;
}

#name6 {
  top: 1240px;
  left: 180px;
}

#adventure-photo-container {
  position: relative;
  margin-left: 0;
  max-width: 40%;
}

.image-description {
  width: 80%;
  font-family: "maxwell";
  font-size: 2vw;
  text-align: center;
}

.parent{
  width: 500px;
  height: 200px;
}

.child {
  max-width: 80%;
  border-radius: 10px;
  margin-bottom: 5%;
}

#dartmouth {
  float: right;
}

#acadia {
  float: right;
}

#pickledish {
  float: right;
}
